<h2>Datepicker example</h2>
<h3>
  Set the time on end, then set a time on the start that is later than the end.
  Then click outside of the calendar to close it, and you will get the error.
</h3>
<h3>
  Or, you can set the end and click outside, then edit and click outside
  sometimes, at some point you will get the error.
</h3>
<app-datetime-picker
  [(value)]="start"
  label="Start Event"
  [dateType]="allDay ? 'date' : 'datetime'"
></app-datetime-picker>

<app-datetime-picker
  [(value)]="end"
  [min]="start"
  label="End Event"
  [dateType]="allDay ? 'date' : 'datetime'"
></app-datetime-picker>

<h2>Range Example</h2>
<h3>
  Set the time on start and end, then click on allDay, and you will get the
  error at the console at least on the second time you click, or when you edit
  the start or end after clicking on allDay
</h3>

<button
  [color]="allDay ? 'primary' : null"
  mat-button
  (click)="allDay = !allDay"
>
  All Day
</button>
<app-daterange-picker
  [(value)]="range"
  startLabel="Start Event"
  endLabel="End Event"
  [dateType]="allDay ? 'date' : 'datetime'"
></app-daterange-picker>

<h3>
  After getting the error in any example, all the picker controls will give
  multiple errors.
</h3>
